
.gallery-buttons-container, .image-preview-container.gallery-buttons-container {

	@include transition(opacity $_HOVER_DURATION);
		display:none;
		@include media-min-width($_BREAKPOINT_TABLET) {
			display:block;
		}
		@include media-min-width($_BREAKPOINT_DESKTOP) {
			opacity: 0;
		}
		
	
	position: relative;
	width:100%;

	.gallery-container:hover &,
	.gallery-slider-container:hover & {

		opacity: 1;

	}


	.gallery-button {
		@extend .verticallyCenter;
		z-index: 1000;
		border:none;
		padding:0;
		&.hide {

			@include hide-object;

		}

		
		&.gallery-button-previous {

			left: 10px;
		}


		&.gallery-button-next {

			right: 10px;

		}

	}

}
//Icons under the main image (zoom, scale, share, etc)
.gallery-enhancements {
	@extend .no-padding; 
	@extend .center; 
	padding-top:15px;
	padding-bottom:15px;
	span {
		margin:0 5px;
	}
}
 
.gallery-1 {
	.gallery-buttons-container {
		.gallery-button-previous {left:10px;}
		.gallery-button-next {right:10px;}
	}
}