$christies-icon_360: "360";
$christies-icon_alert: "\e900";
$christies-icon_apple: "\e901";
$christies-icon_artwork: "\e902";
$christies-icon_Baidu: "\e903";
$christies-icon_biography: "\e904";
$christies-icon_bookmark: "\e905";
$christies-icon_calendar: "\e906";
$christies-icon_catalogue: "\e907";
$christies-icon_close: "\e908";
$christies-icon_document: "\e909";
$christies-icon_down-arrow: "\e90a";
$christies-icon_down-chevron: "\e90b";
$christies-icon_download: "\e90c";
$christies-icon_download-doc: "\e90d";
$christies-icon_drag-horizontal: "\e90e";
$christies-icon_drag-vertical: "\e90f";
$christies-icon_edit: "\e910";
$christies-icon_email: "\e911";
$christies-icon_Facebook: "\e912";
$christies-icon_favourite: "\e913";
$christies-icon_filters: "\e914";
$christies-icon_forbidden-action: "\e915";
$christies-icon_Google-Bookmark: "\e916";
$christies-icon_grid-view: "\e917";
$christies-icon_hammer: "\e918";
$christies-icon_help: "\e919";
$christies-icon_home: "\e91a";
$christies-icon_information: "\e91b";
$christies-icon_Instagram: "\e91c";
$christies-icon_left-arrow: "\e91d";
$christies-icon_left-chevron: "\e91e";
$christies-icon_LinkedIn: "\e91f";
$christies-icon_list-view: "\e920";
$christies-icon_location: "\e921";
$christies-icon_menu: "\e922";
$christies-icon_minus: "\e923";
$christies-icon_minus-magnification: "\e924";
$christies-icon_more: "\e925";
$christies-icon_multiple-doc: "\e926";
$christies-icon_outlook: "\e927";
$christies-icon_phone: "\e928";
$christies-icon_Pinterest: "\e929";
$christies-icon_play: "\e92a";
$christies-icon_plus: "\e92b";
$christies-icon_plus-magnification: "\e92c";
$christies-icon_print: "\e92d";
$christies-icon_profile: "\e92e";
$christies-icon_profile-black: "\e94a";
$christies-icon_Renren: "\e92f";
$christies-icon_reset: "\e930";
$christies-icon_results: "\e931";
$christies-icon_right-arrow: "\e932";
$christies-icon_right-chevron: "\e933";
$christies-icon_scale: "\e934";
$christies-icon_search: "\e935";
$christies-icon_settings: "\e936";
$christies-icon_share: "\e937";
$christies-icon_shopping-basket: "\e938";
$christies-icon_sort: "\e939";
$christies-icon_sound: "\e93a";
//$christies-icon_spreadsheet: "\e93b";
$christies-icon_spreadsheet: "\e94b";
$christies-icon_spreadsheet-solid: "\e94b";
$christies-icon_super-zoom: "SUPER ZOOM";
$christies-icon_tag: "\e93c";
$christies-icon_tick: "\e93d";
$christies-icon_top-arrow: "\e93e";
$christies-icon_top-of-page: "\e93f";
$christies-icon_Tumblr: "\e940";
$christies-icon_Twitter: "\e941";
$christies-icon_up-chevron: "\e942";
$christies-icon_upload: "\e943";
$christies-icon_video: "\e944";
$christies-icon_warning: "\e945";
$christies-icon_wechat: "\e946";
$christies-icon_Weibo: "\e947";
$christies-icon_Youku: "\e948";
$christies-icon_Youtube: "\e949";
