body {
	font-size: 62.5%;
	// &.full-height {
	// 	height: 100%;
	// }
	// &.navigation-open {
	// 	height: 100%;
	// 	overflow: hidden;
	// }
}
.main-container {
	min-height: 100%;
	position: relative;
	// .full-height & {
	// 	height: 100%;
	// }
}
%container-rules {
	position: relative;
}
